# dependencies
node_modules/
.pnp
.pnp.js

# Nuxt dev/build
.output/
.data/
.nuxt/
dist/

# testing
coverage/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# typescript
*.tsbuildinfo

# wrangler
.wrangler/
.dev.vars

# lockfile
pnpm-lock.yaml
